<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Mobile Automation Suite"
       parallel="tests"
       thread-count="2">

    <parameter name="runMode" value="android"/>
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <!-- ANDROID -->
    <test name="Android Tests">
        <parameter name="platform" value="android"/>
        <parameter name="port" value="4723"/>
        <classes>
            <class name="testCases.HomeTest"/>
            <class name="testCases.SampleTest"/>
        </classes>
    </test>

    <!-- IOS -->
    <test name="iOS Tests">
        <parameter name="platform" value="ios"/>
        <parameter name="port" value="4725"/>
        <classes>
            <class name="testCases.HomeTest"/>
            <class name="testCases.SampleTest"/>
        </classes>
    </test>

</suite>
